$white: #fff;

$black_25: rgba(0,0,0,0.25);
$black_87: rgba(0, 0, 0, .87);

$color_alto_approx: #ddd;

$color_background1: #f3f3f3;

$color_dark1: rgb(39, 50, 59);

$color_blue1: rgb(54, 143, 215);
$color_blue2: rgb(14, 113, 185);
