/*
  Global CSS file
*/
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 1.3;
}

html,body{
	min-height: 100%;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica,Arial,sans-serif;
	color: rgba(0, 0, 0, .87);
}
a:link, a:visited {
    text-decoration: none;
}
