.dashmain {
  margin-left: 200px;
  display: flex;
  flex-wrap: wrap;
}

.card-1 {
  background-color: #fff;
  text-align: center;
  border: 1px #ddd solid;
  padding: 10px;
  width: 400px;
  margin: 5px;
}

.card-2 {
  background-color: #fff;
  text-align: center;
  border: 1px #ddd solid;
  padding: 10px;
  width: 800px;
  margin: 5px;
}

.card-3 {
  background-color: #fff;
  text-align: center;
  border: 1px #ddd solid;
  padding: 10px;
  width: 1200px;
  margin: 5px;
}
